@tailwind base;
@tailwind components;
@tailwind utilities;

/* スクロールバーのスタイル */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Electron ドラッグ対象 */
.drag-region {
  -webkit-app-region: drag;
}
